@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
html {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  padding: 30px;
}

.details {
  display: none;
}

.details:checked ~ .content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card {
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 60px;
}

.card, .card > .content {
  width: 400px;
  height: 300px;
  display: inline-block;
  position: relative;
}

.card:hover .front .background > img, .card > .content:hover .front .background > img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.card:hover .front .info, .card > .content:hover .front .info {
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 50px;
  -webkit-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}

.card:hover .front .info .button, .card > .content:hover .front .info .button {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.card:hover .back .button, .card > .content:hover .back .button {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.card .content, .card > .content .content {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.card .content .front, .card .content .back, .card > .content .content .front, .card > .content .content .back {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 60px;
  color: white;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 40px;
          box-shadow: rgba(0, 0, 0, 0.15) 0 0 40px;
}

.card .content .front .info, .card .content .back .info, .card > .content .content .front .info, .card > .content .content .back .info {
  text-align: center;
}

.card .content .front .info .button, .card .content .back .info .button, .card > .content .content .front .info .button, .card > .content .content .back .info .button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  display: inline;
  padding: 0.4em 0.5em;
  height: 2em;
  line-height: 2em;
  width: 2em;
  border-radius: 5px;
  left: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.card .content .front .info .button.return, .card .content .back .info .button.return, .card > .content .content .front .info .button.return, .card > .content .content .back .info .button.return {
  line-height: 3em;
  color: black;
  text-shadow: none;
}

.card .content .front .info .button.return:hover, .card .content .back .info .button.return:hover, .card > .content .content .front .info .button.return:hover, .card > .content .content .back .info .button.return:hover {
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card .content .front, .card > .content .content .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card .content .front .background, .card > .content .content .front .background {
  overflow: hidden;
  border-radius: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card .content .front .background img, .card > .content .content .front .background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.card .content .front .info, .card > .content .content .front .info {
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
  -webkit-transition: text-shadow 0.3s ease-in-out;
  transition: text-shadow 0.3s ease-in-out;
}

.card .content .front .info .card-front-title, .card > .content .content .front .info .card-front-title {
  font-size: 2.5em;
  font-weight: 600;
  margin: 0;
}

.card .content .front .info .button, .card > .content .content .front .info .button {
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
}

.card .content .front .info .button:hover, .card > .content .content .front .info .button:hover {
  background-color: #fff;
  color: black;
}

.card .content .front .info .button.return, .card > .content .content .front .info .button.return {
  border-color: #fff;
}

.card .content .front .info .button.return:hover, .card > .content .content .front .info .button.return:hover {
  color: #fff;
}

.card .content .back, .card > .content .content .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}

.card .content .back .info, .card > .content .content .back .info {
  z-index: -1;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.card .content .back .info .text, .card > .content .content .back .info .text {
  -ms-grid-row: 5;
  grid-row: 5;
  grid-column: 1/-1;
  font-size: 0.86em;
  border-radius: 5px;
  font-weight: 200;
  line-height: 1.4em;
  overflow: auto;
  color: #3b3b3b;
  padding-right: 10px;
  margin-bottom: 10px;
}

.card .content .back .info .button, .card > .content .content .back .info .button {
  background-color: white;
  border: solid 2px black;
  color: black;
}

.card .content .back .info .button:hover, .card > .content .content .back .info .button:hover {
  background-color: black;
  color: white;
}

.card .content .back .info .button.return, .card > .content .content .back .info .button.return {
  border-color: black;
}

.card .content .back .info .button.return:hover, .card > .content .content .back .info .button.return:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */